{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "core/example.css" %}">
</head>
<body>

<div class="container">
    <div class="position-relative overflow-hidden px-3 pb-0 p-md-5 m-md-3 text-center bg-white">
        <div class="col-md-5 p-lg-5 mx-auto mt-5 pb-0">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <img src="{% static "core/example.png" %}">
            <h2 class="font-weight-normal">CEOS에 지원하세요</h2>
            <p class="lead font-weight-normal">
                서강대. 연세대. 이화여대. 홍익대. 네 학교의 환상적인 콜라보레이션, 우리를 춤추게 만듭니다!
            </p>
            <form action="{% url 'example' %}" method="post" class="p-2 mb-4">
                {% csrf_token %}
                <input type="email" name="email" class="form-control mb-3" placeholder="Email address">
                <button type="submit" class="btn btn-primary">Take my email🕺</button>
            </form>

            <div class="bg-dark shadow-sm mb-0 mt-3 mx-auto"
                 style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>
</div>
</body>
</html>