<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
	/*font-size: 20px;*/
	margin: 0 0;
	padding: 0 0;
	/* text-align: center; */
}
div{
	width: 100%;
}
body{
	margin: 0 !important;
  height: auto;
	background-repeat:no-repeat;
	background-size:cover;
}
#container{
	width:100%;/*
}
/*IMAGE SIZE 8492 23635*/

.logo-wrapper{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 140px;
	width: 250px;
}
.fit-image{
	width: 100%;
	object-fit: cover;
	/*height: 300px;  only if you want fixed height */
}

@media (max-width: 768px){ /* small, mobile */

	.img-center{  /*이미지3*/
		width:100vw;
		margin-top: 15%;
	}

	#info{
		margin-top: 10%;
		color:#fcf5f5;
	}

}

@media (min-width: 768px){ /* big */
	.img-wrapper{
		/*background-color: #bbb;*/
		width:50vw;
	}

	.img-center{     /*이미지3*/
		/*background-color: #bbb;*/
		width:100vw;
		margin-top: 15%;
	}

}

.text1{
	font-family: S-CoreDream-8Heavy;
	color: #fff;
	/*font-size: 3.5rem;*/
	text-align: right;
	margin-left: auto;
}

.text2{
	font-family: S-CoreDream-5medium;
	color: #d8324f;
  font-size: 2.0rem;
	text-align: right;
	margin-left: auto;
}

.question{        /* 서비스 궁금하냐는 질문태그 p */
	font-family: S-CoreDream-8Heavy;
	color: #fff;
	margin-top: 30px;
	/*font-size: 1.5rem;*/
  margin-left: auto;
}

#row1{
	margin-top: 30px;
	float: right;
}
#row2{
	float: right;
	text-align: right;
}
#form{
	width: 100%;
	float: right;
	text-align: right;
}
#row3{
  float:right;
	text-align: right;
	margin-top: 10%;
}

#row4{      /*설명2 포함하는 div*/
	margin-top: 20%;
}

#title{
  font-family: S-CoreDream-8Heavy;
  /*font-size: 3.5rem;*/
  color:#D8324F;
}

#detail{
	font-family: S-CoreDream-5medium;
  font-size: 1.8rem;
  color:#D8324F;
}

#form{
	margin-left: auto;
}

#msg{    /*서버 응답 후 메세지*/
	font-family: S-CoreDream-8Heavy;
	font-size: 1.5rem;
	margin-top: 30px;
	text-align: right;
	margin-left: auto;
}

#content2{  /*설명 2 */
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10%;
}

#info{ /*개인정보 수집안내 포함하는 div*/
	font-family: S-CoreDream-5Medium;
  text-align: left;
	color: #fcf5f5;
	font-size: 1.2rem;
	margin-top: auto;
}


@media(min-width: 500px){ /*big*/
  #content3{     /*설명 3 */
  margin-top:10%;
  text-align: right;
  float: right;
}
	.text1{
		font-size:60px !important;
	}
	.text2{
		font-size:30px !important;
	}
	#title{
		font-size:60px !important;
	}
}
@media(max-width: 500px){ /*small*/
  #content3{     /*설명 3 */
  margin-top:10%;
  text-align: right;
  float: right;
  /*font-size: 10px;*/
  }
	.text1{
		font-size:45px !important;
	}
	.text2{
		font-size:22px !important;
	}
	#title{
		font-size:40px !important;
	}
	#detail{
		font-size:20px !important;
	}
}

#im3{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder{
	text-align: right;
}

.img-responsive{   /*이미지 1,2 */
  width: 90%;
}

.img-responsive2{  /*이미지 1 */
	margin-top: 10%;
	margin-bottom: 5%;
  width: 15%;
	text-align: left;
}
